<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <!-- File Appender -->
        <File name="event" fileName="eventLog.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </File>

        <!-- File Appender -->
        <File name="error" fileName="errorLog.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
        </File>

    </Appenders>

    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="eventLogger" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="event" />
        </Logger>

        <!-- Log everything -->
        <Logger name="errorLogger" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="error" />
        </Logger>

        <!-- Log everything in Spring Core -->
        <Logger name="com.example.DB_Tests" level="debug" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="event" />
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console" />
            <AppenderRef ref="error" />
        </Root>

    </Loggers>
</Configuration>